<!DOCTYPE html>
<html ng-app="matApp">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Customize MaterializeCSS and Download. Pick and choose the features you want or have the whole enchilada.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Custom Download MaterializeCSS</title>
    <meta name="description" content="Customize MaterializeCSS and Download. Pick and choose the features you want or have the whole enchilada.">
    <meta property="og:description" content="Customize MaterializeCSS and Download. Pick and choose the features you want or have the whole enchilada.">
    <meta property="og:site_name" content="Custom MaterializeCSS">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="Customize MaterializeCSS and Download. Pick and choose the features you want or have the whole enchilada.">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- <link rel="icon" sizes="192x192" href="images/android-desktop.png"> -->
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Custom MaterializeCSS">
    <!-- <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png"> -->
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <!-- <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png"> -->
    <meta name="msapplication-TileColor" content="#3372DF">
    <link rel="shortcut icon" href="favicon.png">
    <!-- CSS  -->
    <link rel="stylesheet" href="./vendor/materialize/dist/css/materialize.min.css">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="col s12 m5">
                    <h3 class="flow-text">Customize MaterializeCSS <br/> and Download <small>(beta)</small></h3>
                    <p>
                        <a class="center-align" href="#about">About & FAQ</a>
                    </p>
                </div>
                <div class="col s12 m7">
                <p>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- materialize.khophi.co -->
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3447974026628607" data-ad-slot="4939692779" data-ad-format="auto"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </p>
                </div>
            </div>
            <form action="/" method="post" id="form">
                <div class="col s12">
                    <p style="margin-left:12px;">
                        <input type="checkbox" class="filled-in" id="all" name="all" />
                        <label for="all" class="flow-text">Download Everything Materialize</label>
                    </p>
                    <div class="divider"></div>
                    <div class="col m4">
                        <h5>General</h5>
                        <p>
                            <input type="checkbox" class="filled-in" id="grid" name="grid" />
                            <label for="grid">Grid</label>
                        </p>
                        <p>
                            <input type="checkbox" class="filled-in" id="roboto" name="roboto" />
                            <label for="roboto">Roboto Font</label>
                        </p>
                        <p>
                            <input type="checkbox" class="filled-in" id="forms" name="forms" />
                            <label for="forms">Forms</label>
                        </p>
                        <p>
                            <input type="checkbox" class="filled-in" id="waves" name="waves" />
                            <label for="waves">Waves</label>
                        </p>
                    </div>
                    <div class="col m4">
                        <h5>Media</h5>
                        <p>
                            <input type="checkbox" class="filled-in" id="materialbox" name="materialbox" />
                            <label for="materialbox">Material Box</label>
                        </p>
                        <p>
                            <input type="checkbox" class="filled-in" id="tooltip" name="tooltip" />
                            <label for="tooltip">Tooltip</label>
                        </p>
                        <p>
                            <input type="checkbox" class="filled-in" id="carousel" name="carousel" />
                            <label for="carousel">Carousel</label>
                        </p>
                        <p>
                            <input type="checkbox" class="filled-in" id="preloader" name="preloader" />
                            <label for="preloader">Preloader</label>
                        </p>
                        <p>
                            <input type="checkbox" class="filled-in" id="toast" name="toast" />
                            <label for="toast">Toast</label>
                        </p>
                    </div>
                    <div class="col m4">
                        <h5>Containers</h5>
                        <p>
                            <input type="checkbox" class="filled-in" id="tabs" name="tabs" />
                            <label for="tabs">Tabs</label>
                        </p>
                        <p>
                            <input type="checkbox" class="filled-in" id="collapsible" name="collapsible" />
                            <label for="collapsible">Collapsible/Accordion</label>
                        </p>
                        <p>
                            <input type="checkbox" class="filled-in" id="table_of_contents" name="table_of_contents" />
                            <label for="table_of_contents">Table of Contents</label>
                        </p>
                        <p>
                            <input type="checkbox" class="filled-in" id="chips" name="chips" />
                            <label for="chips">Chips</label>
                        </p>
                        <p>
                            <input type="checkbox" class="filled-in" id="cards" name="cards" />
                            <label for="cards">Cards</label>
                        </p>
                        <p>
                            <input type="checkbox" class="filled-in" id="modal" name="modal" />
                            <label for="modal">Modals</label>
                        </p>
                    </div>
                    <div class="col m4">
                        <h5>Controls</h5>
                        <p>
                            <input type="checkbox" class="filled-in" id="button" name="buttons" />
                            <label for="button">Buttons</label>
                        </p>
                        <p>
                            <input type="checkbox" class="filled-in" id="slider" name="slider" />
                            <label for="slider">Slider</label>
                        </p>
                        <p>
                            <input type="checkbox" class="filled-in" id="dropdown" name="dropdown" />
                            <label for="dropdown">Slider</label>
                        </p>
                    </div>
                    <div class="col m4">
                        <h5>Navigation</h5>
                        <p>
                            <input type="checkbox" class="filled-in" id="sideNav" name="sideNav" />
                            <label for="sideNav">SideNav</label>
                        </p>
                        <p>
                            <input type="checkbox" class="filled-in" id="navbar" name="navbar" />
                            <label for="navbar">NavBar</label>
                        </p>
                    </div>
                    <div class="col s12" style="margin-top:20px;">
                        <!-- <input type="submit" class="btn waves-effect waves-light"> -->
                        <button type="submit" class="btn waves-effect waves-light">Download Custom</button>
                    </div>
                </div>
            </form>
        </div>
    <div class="divider"></div>
    <div class="row">
        <div class="card">
            <div class="card-content">
              <span class="card-title" id="about">About Custom Materialize Download</span>
              <p>
                This website allows you to customize your MaterializeCSS before you download based on the most stable version.
              </p>
              <p>
                  Check the Sass modules you wish to download and use in your project and press the "Download Build" button.
              </p>
              <span class="card-title">Which Materialize Version</span>
              <p>
                  Current build version is the most stable version of MaterializeCSS. A cron task updates the local repo everyday, ensuring your custom builds are always the latest and most stable.
              </p>
              <span class="card-title">What Modules are included by default?</span>
              <p>
                  By default, the packages below are added to every custom build you make. Without them, the build might break. Default included modules are:
                  <ul>
                    <li>@import "components/prefixer";</li>
                    <li>@import "components/mixins";</li>
                    <li>@import "components/color";</li>
                    <li>@import "components/variables";</li>
                    <li>@import "components/normalize";</li>
                    <li>@import "components/global";</li>
                    <li>@import "components/icons-material-design";</li>
                    <li>@import "components/typography";</li>
                  </ul>
              </p>  
              <p>
                  Any additional checkboxes will be added to the above variables.
              </p>
              <span class="card-title">Why are Custom Builds important?</span>
              <p>
                  Minimal features and file size. Perhaps you are interested in using Material Design for a your site, but do not want anything else. Building specifically to target these needs ensures you end up with a minimal file size, and less CSS conflicts within your project.
              </p>
              <br/>
              <p>
                  I always enjoy using Foundation for Sites Custom project downloader. I enjoy using Materialize CSS, so in order to help me build custom CSS files easily for my projects in a GUI manner, I 'Weekend-thon' this Material Custom website.
              </p>
              <br>
              <p>
                  I hope you might find this useful. Any feedback or feature requests? Please email me below.
              </p>
            </div>
            <div class="card-action center-align">
              <a href="http://blog.khophi.co" class="btn-flat waves-effect waves-light purple lighten-2 black-text" target="new">Blog</a>
              <a href="mailto:hello@khophi.co" target="new" class="black-text btn-flat waves-effect waves-light red lighten-2">Send Feedback</a>
              <a href="http://bitbucket.com/seanmavley/matcustom" class="black-text btn-flat waves-effect waves-light green lighten-2" target="new">Github</a>
              <a href="http://khophi.co" class="black-text btn-flat waves-effect waves-light orange lighten-2" target="new">About Me</a>
            </div>
            <div class="card-action center-align">
                &copy; 2016 <a href="http://theafricandream.co">TheAfricanDream LLC</a>
            </div>
          </div>
    </div>
</body>
<script src="./vendor/jquery/dist/jquery.min.js"></script>
<script src="./vendor/materialize/dist/js/materialize.min.js"></script>
<script>
$(document).ready(function() {
    $('#all').click(function(event) {
        if (this.checked) {
            $(':checkbox').each(function() {
                this.checked = true;
            })
        } else {
            $(':checkbox').each(function() {
                this.checked = false;
            })
        }
    });

    $('#form').submit(function() {
        var valid = 0;
        $(this).find('input[type=checkbox]:checked').each(function() {
            if ($(this).val() !== "") valid += 1;
        });

        if (valid) {
            // alert(valid + " inputs have been filled");
            Materialize.toast('Download begins', 5000);
            return true;
        } else {
            // alert("error: you must fill in at least one field");
            Materialize.toast("Duh! Download Everything, or at least check a box!", 7000);
            return false;
        }
    })
});
</script>
<script>
(function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

ga('create', 'UA-59418377-1', 'auto');
ga('send', 'pageview');
</script>

</html>
